@font-face {
    font-family: act;
    src: url(../font/act.ttf);
}

body {
    background-color: black;
}

.banner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 300px;
    display: block;
	
}

.back {
    display: block; 
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;;
    margin-bottom: 20px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 100px;
    width: 100%;
    z-index: -1;
}

.p {
    margin-left: 5%;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
	text-align: center;
    color: cyan;
}

.main > p {
    color: grey;
    font-family: act;
    font-size: 100pt;
}
