@font-face {
    font-family: act;
    src: url(../font/act.ttf);
}

body {
    background-color: black;
}





img {
   /*display: block; */
     border-radius: 15px 50px;
    padding: 20px;
    width: 200px;
    height: 150px; 
	/*transform: rotate(20deg);*/
	transition: width 2s;
   
	
}

a:hover{
	color:cyan;
}

.y{
	left:40;
}





