@font-face {
    font-family: act;
    src: url(../font/act.ttf);
}






img {
   /*display: block; */
     border-radius: 15px 50px;
    padding: 20px;
	
    width: 200px;
    height: 150px; 
	/*transform: rotate(20deg);*/
	transition: width 2s;
   
	
}
/*div {
    width: 50px;
    height: 50px;
    background: cyan;
    
    transition: width 3s;
    transition-delay: 0s;
}

div:hover {
    width: 300px;
}
*/
a:hover{
	color:cyan;
}
a:visited{
	color:cyan;
}

body{
	display-style: block;
	text-align: center;
	background-image:url("img/2.gif");
}






