@font-face {
    font-family: act;
    src: url(../font/act.ttf);
}

body {
    background-color: black;
}





img {
   display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 10px;	
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50px;
	height:50px;
    width: 5%;
    z-index: -1;
	
}
a:hover{
	color:cyan;
}

.y{
	left:40;
}





